*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display:flex;
    height: 96vh;
    background-color: rgb(32, 32, 32);
}

.startHidden{
    display: none;
}

#app{
    background-color: white;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 7px;
    width: 200px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(48, 175, 248);
    border-radius: 4px;
    outline: none;
    padding: 7px;
    width: 180px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(48, 175, 248);
    padding: 5px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

#loading{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 1;
}

#gif{
    max-width: 50%;
    max-height: 50%;
}

#profileContent{
    position: relative;
    top: calc(50% - 40px);
    left: calc(50% - 40px); 
}

#profile{
    width: 80px;
    height: 80px;
}

#userName{
    display: flex;
    justify-content: center;
    font-size: 21px;
    margin-top: 10px;
}

#userOffice{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    opacity: 0.6;
}

#userGh{
    display: flex;
    justify-content: center;
    font-size: 15px;
    margin-top: 10px;
    opacity: 0.6;
}

#userDesc{
    text-align: center;
    font-size: 12px;
    margin: 10px;
}

.a{
    margin-left: 5px;
    text-decoration: none;
    color: inherit;
}

#social{
    margin-top: 15px;
    text-align: center;
}

.userIg{
    margin: 2px;
}

.userFb{
    margin: 2px;
}

.userTt{
    margin: 2px;
}