*{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    display:flex;
    height: 96vh;
    background-color: rgb(32, 32, 32);
}

.startHidden{
    display: none;
}

#app{
    background-color: white;
    margin: auto;
    padding: 40px;
    border-radius: 7px;
    width: 200px;
}

input{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid rgb(48, 175, 248);
    border-radius: 4px;
    outline: none;
    padding: 7px;
    width: 180px;
}

button{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: rgb(48, 175, 248);
    padding: 5px;
    cursor: pointer;
}

button:hover{
    opacity: 0.8;
}

#loading{
    position: absolute;
    top: calc(50% - 50px);
    left: calc(50% - 50px);
    z-index: 1;
}

#gif{
    max-width: 50%;
    max-height: 50%;
}